/* Стили для Задания 1 */
.task1 {
    padding: 10px 10px; /* Добавляет отступы внутри контейнера */
    background-color: antiquewhite; /* Устанавливает светло-коричневый цвет фона */
}

/* Общие стили для заголовков и параграфов */
h1, h2, p{
    margin: 0; /* Убирает стандартные отступы вокруг заголовков и параграфов */
}

/* Стили для заголовка в Задании 1 */
.task1__title {
    margin-bottom: 10px; /* Добавляет отступ снизу */
    color: darkcyan; /* Устанавливает цвет заголовка */
    font-size: 32px; /* Устанавливает размер шрифта */
    text-align: center; /* Выравнивает текст по центру */
    font-weight: 700; /* Устанавливает жирное начертание шрифта */
}

/* Стили для подзаголовка в Задании 1 */
.task1__subtitle {
    margin-bottom: 10px; /* Добавляет отступ снизу */
    color: darkgoldenrod; /* Устанавливает цвет подзаголовка */
    text-align: center; /* Выравнивает текст по центру */
    font-weight: 500; /* Устанавливает средней жирности шрифт */
}

/* Стили для описания в Задании 1 */
.task1__descr {
    color: darkgray; /* Устанавливает цвет описания */
    text-align: center; /* Выравнивает текст по центру */
    font-weight: 400; /* Устанавливает обычное начертание шрифта */
}

/* Стили для блока Задания 2 */
.task2 {
    width: 500px; /* Ширина блока 500px */
    height: 500px; /* Высота блока 500px */
    padding: 40px 40px; /* Добавляет отступы внутри контейнера */
    background-color: wheat; /* Устанавливает цвет фона пшеницы */
}

/* Стили для блока Задания 3 */
.task3 {
    padding: 40px 40px; /* Добавляет отступы внутри контейнера */
    background-color: red; /* Устанавливает красный цвет фона */
    border: 4px solid black; /* Добавляет черную границу толщиной 4px */
}

/* Стили для текста в Задании 4 */
.task4 {
    color: wheat; /* Устанавливает цвет текста в блоке Задания 4 */
}

/* Стили для отдельных блоков внутри Задания 4 */
.block1, .block2, .block3 {
    width: 500px; /* Ширина каждого блока 500px */
}

.block1 {
    background-color: rosybrown; /* Устанавливает цвет фона розовато-коричневый */
}

.block2 {
    background-color: hotpink; /* Устанавливает ярко-розовый цвет фона */
}

.block3 {
    background-color: darkblue; /* Устанавливает темно-синий цвет фона */
}
